{% extends 'index.html' %}

{% block content %}
    {% load static %}
    <table align="center" border="0">
        <tr>
            <th><h2 style="font-family: 'Californian FB';font-size: 35px;color: maroon"><b><u>Resume Management Software</u></b></h2>
                <p> Resume management software helps recruiters to shortlist, engage, and hire the right candidate.<br>
                    Zoho Recruit lets you parse multiple resumes, transfer candidate information directly into the candidate/client database, and format CVs to best represent your brand.
                    Resumes are a great way by which you can identify quality talent but they have a major problem: recruiters have a hard time managing and organizing these resumes to pick the relevant ones.
                </p>

                <p>
                Often called resume management software, but known by many other names - resume sorting software, resume filtering software, resume database management software - the concept is the same: they’re software used to source, collect, parse, organize and store the resumes in a central database.
                    Perhaps, resume management system predominantly focuses on cutting down manual work involved in organizing the plethora of resumes that come in.
                </p> </th>
            <th>
                <img src="{% static 'images/rms_icon.png' %}" width="300" >
            </th>
        </tr>

    </table>
{% endblock %}